apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-manual-budi
  labels:
    type: local
spec:
  storageClassName: manual 
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  hostpath:
    path: "/mnt/data-mysql"